body{
    background-image: url("https://th.bing.com/th/id/OIP.uApf9ONyi3WHq-RNg324PgHaHa?w=794&h=794&rs=1&pid=ImgDetMain") ;
    content: cover;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    margin: auto;
}
  
.grid div {
    width: 20px;
    height: 20px;
}


.score-container {
    margin-top: 20px;
    margin-left: 20px;
  }
  
  h3 {
    color: white;
    font-size: 25px;
    margin: auto;
  }
  
  #score {
    font-weight: bold;
    color: yellow;
    font-size: 28px;
  }

.pac-dot {
    background-color: green;   
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: black;
}

.power-pellet {
    background-color: green;
    border-radius: 10px;
}

.blinky {
    background-color: red;
}

.pinky {
    background-color: pink;
}

.inky {
    background-color: cyan;
}

.clyde {
    background-color: orange;     
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

.scared-ghost {
    background-color: aquamarine;
}

